@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "daisyui/theme" {
  name: "HomeNest";
  default: true;
  color-scheme: light;
  --color-primary: #22c55e;
  --color-primary-content: #ffffff;

  --color-secondary: #0f172a;
  --color-secondary-content: #ffffff;

  --color-accent: #3b82f6;
  --color-accent-content: #ffffff;

  --color-neutral: #334155;
  --color-neutral-content: #ffffff;

  --color-base-100: #ffffff;
  --color-base-200: #f8fafc;
  --color-base-300: #f1f5f9;
  --color-base-content: #0f172a;

  --color-info: #0ea5e9;
  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-error: #ef4444;

  --radius-selector: 0.5rem;
  --border-btn: 1px;
}
